{"swagger":"2.0","info":{"title":"Vinfiniti","description":"API for test3.vinfiniti.biz","version":"0.0.0"},"host":"test3.vinfiniti.biz:8210","basePath":"/Vin3RService/rest/commonEdi/getEdiData/MELS","schemes":["https"],"paths":{"/TBLEDI_MELS_TALLYSHEET_SO":{"post":{"tags":["TBLEDI_MELS_TALLYSHEET_SO"],"description":"Readorder","operationId":"readorder","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Readorder","in":"body","description":"orderno","required":true,"schema":{"$ref":"#/definitions/Readorder"}}],"responses":{"200":{"description":"orderinfo","schema":{"type":"array","items":{"$ref":"#/definitions/Readorder"}},"examples":{"application/json":{"PROGRAMTYPE":"VME","VIN_REFERENCEA_VESSEL":"string","VIN_PLANNEDRECEIVEDDATE_ETA":"2020-01-30T16:31:59","VIN_SHIPMENTMETHOD":"LCL","DELIVERYMETHOD":"LOCAL","VIN_CUSTSYSNO":"1000216551","VIN_REFERENCEF_POD":"string","VIN_ORDERSTATUS":"string","VIN_PLANNEDDELIVERYDATE_ETD":"2020-01-30T16:31:59","VIN_ORDERNO":"MEL-TWLVME-SV0000018","VIN_REFERENCEC_VOY":"string"}}}},"security":[{"Default":[]}]}}},"definitions":{"Readorder":{"description":"Model for Readorder","required":["DELIVERYMETHOD"],"properties":{"DELIVERYMETHOD":{"type":"string","x-example":"LOCAL"},"PROGRAMTYPE":{"type":"string","x-example":"VME"},"VIN_CUSTSYSNO":{"type":"string","x-example":"1000216551"},"VIN_ORDERNO":{"type":"string","x-example":"MEL-TWLVME-SV0000018"},"VIN_ORDERSTATUS":{"type":"string","x-example":"string"},"VIN_PLANNEDDELIVERYDATE_ETD":{"type":"string","format":"date-time","x-example":"2020-01-30T16:31:59"},"VIN_PLANNEDRECEIVEDDATE_ETA":{"type":"string","format":"date-time","x-example":"2020-01-30T16:31:59"},"VIN_REFERENCEA_VESSEL":{"type":"string","x-example":"string"},"VIN_REFERENCEC_VOY":{"type":"string","x-example":"string"},"VIN_REFERENCEF_POD":{"type":"string","x-example":"string"},"VIN_SHIPMENTMETHOD":{"type":"string","x-example":"LCL"}}}},"securityDefinitions":{"Default":{"description":"Default Authentication","type":"basic"}},"security":[],"tags":[{"name":"TBLEDI_MELS_TALLYSHEET_SO","description":"Operations about TBLEDI_MELS_TALLYSHEET_SO"}]}